@page "/"
@using ProConsulta.Models
@using ProConsulta.Repositories.Schedulings
@using System.Globalization
@inject ISchedulingRepository repository

<PageTitle>DASHBOARD</PageTitle>

<MudText Typo="Typo.h3" Class="d-flex justify-content-center">DASHBOARD</MudText>

<div>
    <MudPaper Class="pa-4">
        <MudChart ChartType="ChartType.Bar"
                  ChartSeries="@Series"
                  XAxisLabels="@XAxisLabels"
                  ChartOptions="@Options"
                  Width="100%"
                  Height="350px" />
    </MudPaper>
</div>

<div>
    <MudPaper Class="pa-4">
        <MudChart ChartType="ChartType.Pie"
                  InputData="@data"
                  InputLabels="@labels"
                  Width="300px"
                  Height="300px" />
    </MudPaper>
</div>

@code {
    private ChartOptions Options = new ChartOptions
        {
            LineStrokeWidth = 20,
            YAxisTicks = 1
        };

    private String[] XAxisLabels { get; set; } = [];
    private List<ChartSeries> Series { get; set; } = new();

    private double[] data { get; set; } = [];
    private string[] labels { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var result = await repository.GetReportAsync();

        if (result is null || !result.Any())
            return;

        CreateBarChart(result);
        CreatePieChart(result);
    }

    private void CreateBarChart(List<AnnualSchedules> schedules)
    {
        XAxisLabels = schedules
                        .Select(x => new CultureInfo("en-US").DateTimeFormat.GetMonthName(x.Month)).ToArray();

        var serie = new ChartSeries
            {
                Name = "Monthly Services",
                Data = schedules.Select(x => (double)x.NumberAppointments).ToArray()
            };

        Series.Add(serie);
    }

    private void CreatePieChart(List<AnnualSchedules> schedules)
    {
        labels = schedules
                    .Select(x => new CultureInfo("en-US").DateTimeFormat.GetMonthName(x.Month)).ToArray();

        data = schedules.Select(x => (double)x.NumberAppointments).ToArray();
    }
}

